HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

Application Data/
Cookies/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Templates/
スタート メニュー/

# 一般的なIDEやシステム関連の無視するファイル
*.log
*.bak
*.swp
*.tmp

# Windows システム関連
AppData/
Desktop/
Documents/
Downloads/
Favorites/
OneDrive/
Pictures/
Saved Games/
Videos/

# Eclipse関連
.metadata/
eclipse-workspace/
